<div class="container-fluid">
	<form action="/search" method="post">
		<div class="form-group">
			<input type="text" name="location" class="form-control" id="search-form" placeholder="Where are you?">
			<br>
			<button class="btn btn-primary center-block btn-block" type="submit">Search</button>
		</div>
		<i class="glyphicon glyphicon-star"></i>
		<i class="glyphicon glyphicon-star-empty"></i>
	</form>

	<div class="col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 col-sm-10 col-xs-10">
		{{#each data}}
			<div class="col-md-5 col-lg-5 col-sm-10 col-xs-10 bars-details">
				<h3 class="title text-center"><a href="{{this.url}}" target="_blank">{{this.name}}</a></h3>
				<div class="row">
					<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
						<img src="{{this.image_url}}" alt={{this.name}} class="display-image">
					</div>
					<div class="col-md-5 col-lg-5 col-sm-8 col-xs-8">
						<h4>{{this.phone}}</h4 >
					</div>
					<div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
						<h4 class="text-center">Rating</h4>
						<h3 class="text-center">{{this.rating}}</h3>
					</div>
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="btn-part">
						<form action="/going" method="post">
							<input type="text" name="id" value="{{this.id}}" hidden>
							<button id="{{this.id}}" class="going">0 Going</button>
						</form>
					</div>
				</div>
				
			</div>
		{{/each}}
		{{#each place}}
			<script>
				var id = "{{this.place}}";
				var count = "{{this.count}}";
				document.getElementById("{{this.place}}").innerHTML = count + " Going";
			</script>
		{{/each}}
	</div>
</div>